html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.navBar {
	position: relative;
	background: #262626;
	color: #fff;
}

.sidebar {
	position: fixed;
	top: 50;
	left: -250px;
	background: #262626;
	width: 250px;
	height: 100%;
	transition: .3s;
}

.active {
	left: 0;
}

.search{
	padding: 5px 10px;
	font-size: 12px;
	border:2px black solid;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

.filterBtn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 20px 0;
}

ul li {
	list-style: none;
}

ul li a {
	padding: 10px 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.sidebarBtn{
	position: relative;
	top: 0;
	right: -30px;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	cursor: pointer;
	background: : #f5f5f5;
	border: none;
	outline: none;
}

.sidebarBtn span{
	display: block;
	width: 21px;
	height: 3px;
	background: #262626;
	position: absolute;;
	top: 13px;
	left: 4px;
	transition: .3s;
}

.sidebarBtn span:before{
	content: '';
	position: absolute;;
	top: -6px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}

.sidebarBtn span:after{
	content: '';
	position: absolute;;
	top: 6px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}

.sidebarBtn.toggle span {
	background: transparent;
}

.sidebarBtn.toggle span:before {
	top: 0;
	transform: rotate(45deg);
}

.sidebarBtn.toggle span:after {
	top: 0;
	transform: rotate(-45deg);
}

#map {
	height: 100%;
	bottom:0px;
	left: 0px;
	position: relative;
	right: 0px;;
}

#map.comeOut {
	left: 250px;
}